body {

    background: #9EBE9B; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #9EBE9B,#9EBE9B, #7FA592,#608C8A, #417482);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #9EBE9B,#9EBE9B, #7FA592,#608C8A, #417482); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#FCFCFC !important;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #FCFCFC!important;
    font-weight: 800 !important;
}

h1 {
    font-weight: 80;
    color: #FCFCFC;
    text-align: center;
}

h2 {
    font-weight: 50;
    margin-bottom: -12px;
    color: #FCFCFC;
}

button {
    display: block;
    border: none;
    background-color: #608C8A !important;
    color: #FCFCFC !important;
    
}

.btn{
    height: 40% !important;
    margin-top: 37px !important;
    margin-left: 100px!important;
}

.logo {
    float: left;

}

.clear {
    clear: both;
}

img.logo {
    width: 180px;
    margin: 10px;
    
}

.navigation {
    text-align: center;
    color: #FCFCFC;
    position: fixed;
}

a.navitem {
    color: #FCFCFC;
    text-decoration: none;
    margin:50px;
    font-weight: 500;
    font-size: 23px;
}

a:hover {
    color: 608C8A !important;
}

span.fat {
    font-weight: 600;
}



.searchbutton{
    padding:10px!important;
}

input {
    display: block;
    background-color: #FCFCFC !important; 
    color: #417482 !important;
    border: none;
    margin: 50px !important;
    position: relative !important;
    left: 100px;
}


table {
    color: #FCFCFC !important;
    border: #FCFCFC !important;
    outline: #FCFCFC !important;
    font-weight: 200 !important;
    float: left !important;

}



label {
    color: #417482;
    background-color: #FCFCFC;
}

.accordion-body{
    color: #417482;
}



.adviseLink{
    color: #417482;
}

.apiTest {
    text-align: center !important;
    margin: 10px !important;
}

.searchbutton {
    height: 20px !important;
}

/*
#FCFCFC
#417482
#608C8A
#7FA592
#9EBE9B
