body {

    background: #9EBE9B; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #9EBE9B, #9EBE9B, #7FA592,#608C8A, #417482);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #9EBE9B, #9EBE9B, #7FA592,#608C8A, #417482); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#FCFCFC;
    font-family: 'Roboto', sans-serif;
    
}

.logo {
    float: left;

}

.clear {
    clear: both;
}

img.logo {
    width: 150px;
    margin: 0px;
    margin-right: 80px;
}

.navigation {
    float: left;
    margin-right: 40px;
}

a.navitem {
    color: #FCFCFC;
    text-decoration: none;
    margin-right: 54px;
    font-weight: 500;
    font-size: 23px;
}

.leftpane {
    float:left;
    height: 600px;
    width: 370px;
}

.rightpane {
    float:right;
    height: 600px;
    width: 370px;
}

span.fat {
    font-weight: 600;
}

h1 {
    font-weight: 100;
    margin-top: -12px;
    color: #FCFCFC;
}

h2 {
    font-weight: 100;
    margin-top: -12px;
    color: #FCFCFC;
}

button {
    display: block;
    margin-top: 20px;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: #417482;
    color: #FCFCFC;
}

input {
    display: block;
    width: 408px;
    padding: 12px;
    border-radius: 4px;
    border: none;
}

.table {
    color: #FCFCFC;
}

label {
    color: #608C8A;
    background-color: #FCFCFC;
}



/*
#FCFCFC
#417482
#608C8A
#7FA592
#9EBE9B
    
}
